############### JetBrains IDE folder

.idea
.idea/
.idea/*

############### Node Modules

node_modules
node_modules/
node_modules/*

############### NPM Debug Log

npm-debug.log

############### NYC debug/log/tracking

.nyc_output
.nyc_output/
.nyc_output/*

############### Unit coverage

unitCoverage
unitCoverage/
unitCoverage/*

############### E2E coverage

E2ECoverage
E2ECoverage/
E2ECoverage/*

############### General coverage

generalCoverage
generalCoverage/
generalCoverage/*